<!DOCTYPE html>
{% extends 'base.html' %}
	{% block main %}
        <div class="container">
            <!-- 文章 -->
            <div class="row">
                <div class="col s12 m9 offset-m1 xl7 offset-xl1">
                    <article>
                        <header class="center">
                            <h1>{{ post.title }}</h1>
                            <div class="post-meta" style="font-size: 12px">
                                <span class="post-date"><time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }}</time></span>
                                <span class="horizontal_divider">|</span>
                                <span class="post-category"><a href="#">>{{ post.category.name }}</a></span>
                                <span class="horizontal_divider">|</span>
                                <span class="post-author">{{ post.author }}</span>
                                <span class="horizontal_divider">|</span>
                                <span class="comments-link"><a href="#">0 comment</a></span>
                                <span class="horizontal_divider">|</span>
                                <span class="views-count">588 views</span>
                            </div>
                        </header>
                           {{ post.body|safe }}			
                        <footer>
                            <div class="tags">
                                <div class="chip">
                                    Tag1
                                </div>
                            </div>
                            <div class="divider" style="margin-top: 100px;"></div>
                            <div class="row" style="margin-top: 10px;margin-bottom: 100px">
                               <ul>
                                    <li style="float: left;list-style: none;">
                                        <a href="#!"><i class="material-icons">arrow_back</i><span class="post_back" style="font-size: 28px">back</span></a>
                                    </li>
                                    <li style="float: left;list-style: none;">
                                        <a href="#!" style="margin-left: 420px"><span class="post_forward" style="font-size: 28px">next</span><i class="material-icons">arrow_forward</i></a>
                                    </li >
                                </ul>
                            </div>
                        </footer>
                    </article>
                    <!-- Disqus评论系统 -->
                    <div id="disqus_thread"></div>
                    <script>
                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    
                    var disqus_config = function () {
                    this.page.url = "http://hashireowl.me{{ post.url_slug }}";  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ post.url_slug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable            
		    this.page.title = '{{ post.title }}';
                    };
                    
                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document,
                            s = d.createElement('script');
                        s.src = 'https://hsrowl-1.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>
                <!-- 右侧文章索引 -->
                <div class="col hide-on-small-only m3 xl3 offset-xl1">	            
                    <div class="toc-wrapper" style="margin-left: 40px;margin-top: 160px;">
		    {% block toc %}
                        <div style="height: 1px;">                    
                             {{ post.toc|safe }}
                        </div>
                   {% endblock toc %}
                    </div> 			
                </div>
            </div>
        </div>
    {% endblock main %}
    
