{% extends 'base.html' %}
{% load staticfiles %}
    {% block main %}
        <div class="container">
            <!-- 文章 -->
            <div class="row" style="padding-top:60px">
                <div class="col">
                    {% for post in post_list %}
                    <article class="post post-{{ post.pk }}">
                        <div class="col s12 m12">
                            <div class="card large">
                                <div class="card-image">
				    <img src="https://i.loli.net/2018/05/14/5af8fde055204.jpg" alt="5af8fde055204.jpg">
                                  <!--  <img src="{% static 'blog/images/sample-1.jpg' %}">-->
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <span class="card-title">
					<a href="{% url 'blog:detail' post.url_slug %}">{{ post.title }}</a>
					</span>
                                        <span class="post-category">
                                    <a href="{% url 'blog:category' post.category.pk %}">{{ post.category.name }}</a>
                                </span>
                                        <span class="post-date">
                                    <a href="#">
                                        <time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }}</time>
                                    </a>
                                </span>
                                        <span class="post-author"><a href="#">{{ post.author }}</a></span>
                                        <p>{{ post.excerpt }}</p>
                                    </div>
                                    <div class="card-action">
                                        <div class="left">
                                            <i class="material-icons">remove_red_eye</i>
                                            <font size="1" color="grey">{{ post.views }}</font>
                                            <i class="material-icons">comment</i>
                                            <a href="{% url 'blog:detail' post.url_slug %}#disqus_thread"><font size="1" color="grey">233</font></a>
                                        </div>
                                        <a href="{% url 'blog:detail' post.url_slug %}" class="right">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% empty %}
                    <div class="col s12 m9 center">暂时还没有发布的文章！</div>
                    {% endfor %}
                    <!--pagination -->
                    <div class="col s12 m9">
    {% if is_paginated %}
    <ul class="pagination center">
        {% if first %}
        <li class="waves-effect"><a href="?page=1">1</a></li>
        {% endif %} {% if left %} {% if left_has_more %}
        <span>...</span> {% endif %} {% for i in left %}
        <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %} {% endif %}
        <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
        {% if right %} {% for i in right %}
        <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %} {% if right_has_more %}
        <span>...</span> {% endif %} {% endif %} {% if last %}
        <li class="waves-effect"><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
        {% endif %}
    </ul>
    {% endif %}
</div>
                </div>
            </div>
        </div>
	{% endblock main %}
