{% extends 'base.html' %}
{% load staticfiles %}
    {% block main %}
        <div class="container">
            <!-- 文章 -->
            <div class="row" style="padding-top:60px">
                <div class="col">
                    {% for post in post_list %}
                    <article class="post post-{{ post.pk }}">
                        <div class="col s12 m9">
                            <div class="card horizontal small">
                                <div class="card-image">
                                    <img src="{% static 'blog/images/sample-1.jpg' %}">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <span class="card-title">
					<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
					</span>
                                        <span class="post-category">
                                    <a href="{% url 'blog:category' post.category.pk %}">{{ post.category.name }}</a>
                                </span>
                                        <span class="post-date">
                                    <a href="#">
                                        <time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }}</time>
                                    </a>
                                </span>
                                        <span class="post-author"><a href="#">{{ post.author }}</a></span>
                                        <p>{{ post.excerpt }}</p>
                                    </div>
                                    <div class="card-action">
                                        <div class="left">
                                            <i class="material-icons">remove_red_eye</i>
                                            <font size="1" color="grey">233</font>
                                            <i class="material-icons">comment</i>
                                            <font size="1" color="grey">233</font>
                                        </div>
                                        <a href="{{ post.get_absolute_url }}" class="right">続きを見る</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% empty %}
                    <div class="col s12 m9 center">暂时还没有发布的文章！</div>
                    {% endfor %}
                    <!--pagination -->
                    <div class="col s12 m9">
                        <ul class="pagination center">
                            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                            <li class="active"><a href="#!">1</a></li>
                            <li class="waves-effect"><a href="#!">2</a></li>
                            <li class="waves-effect"><a href="#!">3</a></li>
                            <li class="waves-effect"><a href="#!">4</a></li>
                            <li class="waves-effect"><a href="#!">5</a></li>
                            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	{% endblock main %}
