{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet" type="text/css" href="css/materialize.css" media="screen,projection"> -->
    <link href="{% static 'blog/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'blog/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'blog/css/mycss.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/highlights/github.css' %}">
    <title>{{ post.title }}</title>
</head>

<body>
    <header class="z-depth-0">
        <div class="navbar">
            <nav>
                <div class="nav-wrapper grey darken-1">
                  <!--  <a href="#!" class="brand-logo white-text center">俺のブログ</a>--> 
                </div>
            </nav>
        </div>
        <div class="container">
            <a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only">
                <i class="material-icons">menu</i>
            </a>
        </div>
        <!-- 侧边抽屉 -->
        <ul id="nav-mobile" class="sidenav sidenav-fixed">
            <li>
                <div class="user-view">
                    <div class="background grey darken-2">
                        <!-- <img src="images/office.jpg"> -->
                    </div>
                    <a href="#user"><img class="circle" src="{% static 'blog/images/ore.jpg' %}"></a>
                    <a href="#name"><span class="white-text name">Owl</span></a>
                    <a href="#email"><span class="white-text name">善は急げ</span></a>
                    <div>
<a href="#user" class="waves-effect waves-teal"><img class="circle contact-icon" src="{% static 'blog/img/github.jpg' %}"></a>
                        <a href="#user" class="waves-effect waves-teal"><img class="circle contact-icon" src="{% static 'blog/img/pixiv_logo_icon.jpg' %}"></a>
                        <a href="#user" class="waves-effect waves-teal"><img class="circle contact-icon" src="{% static 'blog/img/Twitter_Social_Icon_Circle_Color.png' %}"></a>
                        <a href="#user" class="waves-effect waves-teal"><img class="circle contact-icon" src="{% static 'blog/img/bangumi_logo.ico' %}"></a>
                    </div>
                </div>
            </li>
            <li class="search">
                <input id="search" placeholder="Search">
            </li>
            <li>
                <a href="#!" class="waves-effect waves-teal"><i class="material-icons">local_parking</i><span class="badge">1234</span>Posts</a>
            </li>
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li style="background-color: white;">
                        <a class="collapsible-header waves-effect waves-teal"><span class="badge">1234</span>Categories<i class="material-icons" style="margin-left:16px">folder_open</i></a>
                        <div class="collapsible-body">
                            <ul class="categories_list">
                                <li><a href="#!" class="waves-effect waves-teal"><span class="badge">12</span>First</a></li>
                                <li><a href="#!" class="waves-effect waves-teal"><span class="badge">134</span>Second</a></li>
                                <li><a href="#!" class="waves-effect waves-teal"><span class="badge">14</span>Third</a></li>
                                <li><a href="#!" class="waves-effect waves-teal"><span class="badge">34</span>Fourth</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li><a href="#!" class="waves-effect waves-teal"><i class="material-icons">local_offer</i><span class="badge">1234</span>Tags</a></li>
            <li><a href="#!" class="waves-effect waves-teal"><i class="material-icons">face</i>About</a></li>
            <li><a href="#!" class="waves-effect waves-teal"><i class="material-icons">rss_feed</i>RSS</a></li>
        </ul>
    </header>
    <!-- 主体 -->
    <main>
         {% block main %}
        {% endblock main %}
    </main>
    <div class="fixed-action-btn">
        <a href="#" class="btn-floating btn-middle grey darken-1">
            <i class="large material-icons">keyboard_arrow_up</i>
        </a>
    </div>
    <footer id="footer" class="footer center">
        <div class="footer-inner">
            <div class="footer-copyright" style="margin-left: -30%">
                ©
                <script type="text/javascript">
                document.write(new Date().getFullYear());
                </script>
                <i class="tiny material-icons">android</i> owl
            </div>
        </div>
    </footer>
    <!--javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'blog/js/materialize.js' %}"></script>
    <script src="{% static 'blog/js/plugins.js' %}"></script>
    <script src="{% static 'blog/js/myjs.js' %}"></script>
</body>

</html>
